<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Dodaj część</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div class="container">
    <form action="#" th:action="@{/parts/}" th:object="${part}" method="post">
        <label for="name">Nazwa</label>
        <input type="text" th:field="*{name}" id="name" placeholder="Name">
        </br>
        <label for="state">Stan</label>
        <input type="text" th:field="*{state}" id="state" placeholder="State">
        </br>
        <label for="type">Typ</label>
        <input type="text" th:field="*{type}" id="type" placeholder="Type">
        </br>
        <label for="make">Marka</label>
        <input type="text" th:field="*{make}" id="make" placeholder="Make">
        </br>
        <label for="model">Model</label>
        <input type="text" th:field="*{model}" id="model" placeholder="Model">
        </br>
        <label for="quantity">Ilość</label>
        <input type="text" th:field="*{quantity}" id="quantity" placeholder="Quantity">
        </br>
        <label for="pricePerElement">Cena za element</label>
        <input type="text" th:field="*{pricePerElement}" id="pricePerElement" placeholder="pricePerElement">
        </br>
        <label for="storageSpace">Miejsce przechowywania</label>
        <input type="text" th:field="*{storageSpace}" id="storageSpace" placeholder="storageSpace">
        </br>
        <label for="profitMargin">Marża</label>
        <input type="text" th:field="*{profitMargin}" id="profitMargin" placeholder="profitMargin">
        </br>
        <label for="priceWithProfitMargin">Cena z marżą</label>
        <input type="text" th:field="*{priceWithProfitMargin}" id="priceWithProfitMargin"
               placeholder="priceWithProfitMargin">
        </br>

        <input type="submit" class="btn btn-success" value="Dodaj część">
        <a class="btn btn-light" role="button" th:href="@{/parts/all}">Wróć</a>
    </form>
</div>
</body>
</html>