<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Logowanie</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Logowanie</li>
    </ol>
</nav>
<div class="container">
    <div th:if="${param.loginFailure}">
        <div class="alert alert-error">
            Błędne dane logowania! Spróbuj ponownie!
        </div>
    </div>
    <form th:action="@{/login}" method="post">
        <div class="form-group row">
            <label for="login" class="col-sm-1 col-form-label">Login</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="login" id="login">
            </div>
        </div>
        <div class="form-group row">
            <label for="password" class="col-sm-1 col-form-label">Hasło</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" name="password" id="password">
            </div>
        </div>

        <input type="submit" class="btn btn-success" value="Zaloguj się">
        <a class="btn btn-light" role="button" th:href="@{/}">Wróć</a>
    </form>
</div>
</body>
</html>