<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Dodaj część</title>
    <link href="../../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a th:href="@{/parts/all}">Części (telefony)</a></li>
        <li class="breadcrumb-item active" aria-current="page">Dodaj część</li>
    </ol>
</nav>
<div class="container">
    <form action="#" th:action="@{/parts/}" th:object="${part}" method="post">
        <div class="form-group row">
            <label for="name" class="col-sm-1 col-form-label">Nazwa</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" th:field="*{name}" id="name">
            </div>
        </div>
        <div class="form-group row">
            <label for="state" class="col-sm-1 col-form-label">Stan</label>
            <div class="col-sm-4">
                <select th:field="*{state}" title="Wybierz stan" class="form-control" id="state">
                    <option th:each="state : ${stateComboValues.entrySet()}" th:value="${state.key}"
                            th:text="${state.value}"></option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="type" class="col-sm-1 col-form-label">Typ</label>
            <div class="col-sm-4">
                <select th:field="*{type}" title="Wybierz typ części" class="form-control" id="type">
                    <option th:each="type : ${typeComboValues.entrySet()}" th:value="${type.key}"
                            th:text="${type.value}"></option>
                </select>
            </div>
        </div>
        <label for="make">Marka</label>
        <input type="text" th:field="*{make}" id="make" placeholder="Make">
        </br>
        <label for="model">Model</label>
        <input type="text" th:field="*{model}" id="model" placeholder="Model">
        </br>
        <label for="quantity">Ilość</label>
        <input type="text" th:field="*{quantity}" id="quantity" placeholder="Quantity">
        </br>
        <label for="pricePerElement">Cena za element</label>
        <input type="text" th:field="*{pricePerElement}" id="pricePerElement" placeholder="pricePerElement">
        </br>
        <label for="storageSpace">Miejsce przechowywania</label>
        <input type="text" th:field="*{storageSpace}" id="storageSpace" placeholder="storageSpace">
        </br>
        <label for="profitMargin">Marża</label>
        <input type="text" th:field="*{profitMargin}" id="profitMargin" placeholder="profitMargin">
        </br>
        <label for="priceWithProfitMargin">Cena z marżą</label>
        <input type="text" th:field="*{priceWithProfitMargin}" id="priceWithProfitMargin"
               placeholder="priceWithProfitMargin">
        </br>

        <input type="submit" class="btn btn-success" value="Dodaj część">
        <a class="btn btn-light" role="button" th:href="@{/parts/all}">Wróć</a>
    </form>
</div>
</body>
</html>